<!-- Footer Section Start -->
<footer>
  <!-- Footer Area Start -->
  <section id="footer-Content">
    <div class="container">
      <!-- Start Row -->
      <div class="row">

      <!-- Start Col -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          
          <div class="footer-logo">
           <img src="http://www.webit.com.au/wp-content/uploads/2019/06/webit_logo.png" width="165" alt="">
          </div>
        </div>
         <!-- End Col -->
          <!-- Start Col -->
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Company</h3>
            <ul class="menu">
              <li><a href="#">  - About Us</a></li>
              <li><a href="#">- Career</a></li>
              <li><a href="#">- Blog</a></li>
              <li><a href="#">- Press</a></li>
            </ul>
          </div>
        </div>
         <!-- End Col -->
          <!-- Start Col -->
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Product</h3>
            <ul class="menu">
              <li><a href="#">  - Customer Service</a></li>
              <li><a href="#">- Enterprise</a></li>
              <li><a href="#">- Price</a></li>
              <li><a href="#">- Scurity</a></li>
              <li><a href="#">- Why Us?</a></li>
            </ul>
          </div>
        </div>
         <!-- End Col -->
          <!-- Start Col -->
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Download App</h3>
            <ul class="menu">
              <li><a href="#">  - Android App</a></li>
              <li><a href="#">- IOS App</a></li>
              <li><a href="#">- Windows App</a></li>
              <li><a href="#">- Play Store</a></li>
              <li><a href="#">- IOS Store</a></li>
            </ul>
          </div>
        </div>
         <!-- End Col -->
          <!-- Start Col -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Subscribe Now</h3>
            <p>Appropriately implement calysts for change visa wireless catalysts for change. </p>
            <div class="subscribe-area">
              <input type="email" class="form-control" placeholder="Enter Email">
              <span><i class="lni-chevron-right"></i></span>
            </div>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- Copyright Start  -->

    <div class="copyright">
      <div class="container">
        <!-- Star Row -->
        <div class="row">
          <div class="col-md-12">
            <div class="site-info text-center">
              <p>Made with ❤️</p>
            </div>
            
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
  <!-- Copyright End -->
  </section>
  <!-- Footer area End -->
  
</footer>
<!-- Footer Section End --> 


<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="lni-chevron-up"></i>
</a> 

<!-- Preloader -->
<div id="preloader">
  <div class="loader" id="loader-1"></div>
</div>
<!-- End Preloader -->
