<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
    
    <title>{% block title %}Frontend Test{% endblock %}</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="https://www.webit.com.au/favicon.ico" type="image/png">

    {% block css %}
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/animate.css">
      <link rel="stylesheet" href="/css/LineIcons.css">
      <link rel="stylesheet" href="/css/owl.carousel.css">
      <link rel="stylesheet" href="/css/owl.theme.css">
      <link rel="stylesheet" href="/css/magnific-popup.css">
      <link rel="stylesheet" href="/css/nivo-lightbox.css">
      <link rel="stylesheet" href="/css/responsive.css">
      <link rel="stylesheet" href="/css/main.css">
    {% endblock %}

  </head>
  
  <body>
    {% block content %}
    {% endblock %}

    {% include 'includes/footer.twig' %}

    {% block js %}
      <!-- jQuery first, then Tether, then Bootstrap JS. -->
      <script src="/js/jquery-min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/owl.carousel.js"></script>
      <script src="/js/jquery.nav.js"></script>
      <script src="/js/jquery.easing.min.js"></script>
      <script src="/js/nivo-lightbox.js"></script>
      <script src="/js/jquery.magnific-popup.min.js"></script>
      <script src="/js/main.js"></script>
    {% endblock %}
  </body>
</html>
